## Technologies Used
- **Python 3.x** - Programming language
- **Pandas** - Data manipulation and analysis
- *os module + sys module* 
- **Plotly** - Plotting library
- **Jupyter Notebook** - Interactive development environment

